* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.562);
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  width: 1000px;
  height: 250px;
}

.container .images img {
  margin-right: 20px;
  width: 300px;
  height: 190px;
  -webkit-transition: 1s;
  transition: 1s;
}

.container .images img:last-child {
  margin-right: 0;
}

.container .images img:hover, .container .images img.active {
  width: 320px;
  height: 210px;
}
